<H1 align="center">User Roles</H1>

<div class="pagination justify-content-center"">
    <%= will_paginate %>
</div>

<%= render 'list', obj: @role %>

<div class="pagination justify-content-center"">
    <%= will_paginate %>
</div>