<H1 align="center">User Roles</H1>

<div class="col-sm-2 col-sm-offset-10">
    <%= link_to "Create new role", new_role_path, class: "btn btn-primary btn-sm" if current_user.role.permission_create == "admin" %>
</div>

<div class="pagination text-center">
    <%= will_paginate @roles, renderer: BootstrapPagination::Rails %>
</div>

<% @roles.each do |role| %>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <%= render partial: 'role', locals: { role: role} %>
        </div>
    </div>
<% end %>

<div class="pagination text-center">
    <%= will_paginate @roles, renderer: BootstrapPagination::Rails %>
</div>