$navbar-default-bg: #4b38ff;

.center {
    text-align: center;
}

/* homepage */
.jumbotron {
    background-image: asset-url('beach_tent_city.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    max-height: 95%;
}

.jumbotron h1 {
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.jumbotron p{
    color: #fff;
    text-align: center;
}

#sign-up {
    position:relative; 
    float:center;
    vertical-align: center;
    margin-top: 50px;
}

/* articles */
.article-title {
    font-weight: bold;
    font-size: 1.5em;
}

.article-body {
    
}

.article-meta-details {
    margin-top: 10px;
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.article-actions {
    margin-top: 10px;
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}



/* categories */
.category-listing {
    margin-bottom: 10px;
    text-align: center;
}

#category-badge a {
    color: #fff !important;
    text-decoration: none !important;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    font-weight: bold;
}

#category-edit a {
    color: #fff !important;
    text-decoration: none !important;
}

.input_checkbox input {
    width: auto !important;
}

/* users */
.user-listing {
    padding-top: 10px;
    list-style: none;
    text-align: center;
}

.user-actions {
    margin-top: 10px;
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

user-name {
  padding: 0 !important ;
  padding-left: 5px;
  padding-top: 15px !important;
  text-align: center;

  a {
    color: black !important;
    margin: 0 !important;
    padding: 5px!important;
  }

  a:hover, a:focus {
    color: #000 !important;
  }
}

.logout {
  padding-left: 0;
}

.nav.navbar-right {
  padding-bottom: 10px;
  padding-top: 5px;
}

.nav.navbar-nav {
  .navbar-link {
    border-radius: 5px;
    color: #fff;
    margin-top: 15px;
    padding: 8px;
  }

  .navbar-link:focus, .navbar-link:hover {
    background: #3071a9;
    color: #fff;
  }

  li a {
    margin-right: 5px;
  }
}

.nav.navbar-right li {
  .btn {
    color: #fff !important;
    margin-top: 5%;
  }

  .btn-danger:hover, .btn-danger:focus {
    background-color: darken(#d9534f,20%) !important;
  }

  .btn-primary:hover, .btn-primary:focus {
    background-color: darken(#428bca,20%) !important;
  }
}

.btn-primary:visited, .btn-danger:visited {
  color: #fff;
}