$navbar-default-bg: #4b38ff;

.center {
    text-align: center;
}

.justify-right {
  text-align: right;
}

.justify-left {
  text-align: left;
}

/* navigation bar */
nav {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    background: #4b38ff;
}

#logo {
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 5px;
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

/* footer */
.footer {
    /* position: absolute; */
    bottom: 0;
    width: 80%;
    max-width: 1100px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    color: 777;
    font-size: 0.8em;
}

.footer small {
    float: left;   
}

.footer ul {
    float: right;
    list-style: none;
    margin-left: 15px;
}

.footer a:hover {
    color: 777;
}

/* homepage */
.jumbotron {
    background-image: asset-url('beach_tent_city.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    max-height: 95%;
}

.jumbotron h1 {
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.jumbotron p{
    color: #fff;
    text-align: center;
}

#sign-up {
    position:relative; 
    float:center;
    vertical-align: center;
    margin-top: 50px;
}

/* merit badges */
.merit-badge {
    margin-top: 0spx;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 1.05em;
}

.merit-badge-eagle {
    font-weight: bold;
}

.merit-badge-inactive {
    text-decoration: line-through;
}

.badge-actions {
  margin-top: 0px;
  padding: 5px 20px 0px 5px;
  margin-right: 5px;
}

merit-badge-icon {
  width: 50px;
  height: 50px;
  border: 0px;
}

/* roles */
#role-tag {
    color: #fff !important;
    text-decoration: none !important;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    font-weight: bold;
}

.role-actions {
    margin-top: 10px;
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

/* users */
.user-listing {
    padding-top: 10px;
    list-style: none;
    text-align: center;
}

.user-actions {
    margin-top: 10px;
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

user-name {
  padding: 0 !important ;
  padding-left: 5px;
  padding-top: 15px !important;
  text-align: center;

  a {
    color: black !important;
    margin: 0 !important;
    padding: 5px!important;
  }

  a:hover, a:focus {
    color: #000 !important;
  }
}

.logout {
  padding-left: 0;
  text-align: right;
}

.nav.navbar-right {
  padding-bottom: 10px;
  padding-top: 5px;
}

.nav.navbar-nav {
  .navbar-link {
    border-radius: 5px;
    color: #fff;
    margin-top: 15px;
    padding: 8px;
  }

  .navbar-link:focus, .navbar-link:hover {
    background: #3071a9;
    color: #fff;
  }

  li a {
    margin-right: 5px;
  }
}

.nav.navbar-right li {
  .btn {
    color: #fff !important;
    margin-top: 5%;
  }

  .btn-danger:hover, .btn-danger:focus {
    background-color: darken(#d9534f,20%) !important;
  }

  .btn-primary:hover, .btn-primary:focus {
    background-color: darken(#428bca,20%) !important;
  }
}

.btn-primary:visited, .btn-danger:visited {
  color: #fff;
}