
<div>
  <h1>Confirm your account</h1>
  <p><%= link_to 'Confirm account', confirmation_url(@resource, confirmation_token: @token), { :style => 
              'background-color: #4CAF50;
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;'} %></p>
</div>